<!-- app/views/password_mailer/welcome_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>Welcome to Finance Application!</title>
</head>
<body>
  <h1>Welcome <%= @user.firstName %> <%= @user.lastName %>!</h1>
  <p>Thank you for signing up.</p>
</body>
</html>
